extends ./layout

mixin panel(title,body)
    .panel-group.connectedSortable
        .panel.panel-default
            .panel-heading.fitText
                .panel-title.pull-left
                    a(data-toggle="collapse",  href="#collapseFoo")= title
                .btn-group.btn-group-xs.pull-right
                    a(type="button").btn.backward-arrow
                        span.glyphicon.glyphicon-arrow-leftd
                    a(type="button").btn.forward-arrow
                        span.glyphicon.glyphicon-arrow-right
            #collapseFoo.panel-collapse.collapse
                .panel-body.edit_area.editableTask= body
                .btn-toolbar.pull-right
                    .btn-group.btn-group-xs
                        a(href="https://microsoft.visualstudio.com/web/wi.aspx?pcguid=cb55739e-4afe-46a3-970f-1b49d8ee7564&id=149433", target="_blank").btn
                            span.glyphicon.glyphicon-wrench
                        a(href="mailto:cofritz@microsoft.com?subject=regarding task [BDS - banda get off Zook] Add legacy subscription offer ID  to BDS response; Investigate BDS bug #205006").btn
                            span.glyphicon.glyphicon-envelope
                    .btn-group.btn-group-xs
                        button(type="button").btn
                            span.glyphicon.glyphicon-ok.button-disabled
                        button(type="button").btn
                            span.glyphicon.glyphicon-remove.button-disabled


block styles
    // Default home page
    style.
        #imagePanner {
            -ms-scroll-snap-type: mandatory;
            -ms-scroll-snap-points-x: snapInterval(0%, 100%);
            overflow-x: auto;
            overflow-y: hidden;
            width: 480px;
            height: 270px;
        }
        .imageRow {
            width: 2400px;
            height: 270px;
        }
        img {
            width: 480px;
            height: 270px;
        }
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/styles/app.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.9.0.js')
    script(src='http://code.jquery.com/ui/1.10.4/jquery-ui.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jeditable.js/1.7.3/jeditable.min.js')
    script(src='/js/bootstrap.min.js')
    script(type='text/javascript').




        $(document).ready( function(){
            function initializeTasks(){
                $( ".panel-group" ).sortable({
                    connectWith: ".panel-group"
                }).disableSelection();

                $('.forward-arrow').click( function() {
                    var p = $(this).closest('.panel')
                    var pg = p.closest('.w').next('.w')

                    p.hide(150, function(){
                        pg.find('.panel-group').prepend(p)
                        p.show(150)
                        });

                })

                $('.backward-arrow').click( function() {
                    var p = $(this).closest('.panel')
                    var pg = p.closest('.w').prev('.w')
                    p.hide('fast', function(){
                        pg.find('.panel-group').prepend(p)
                        p.show('fast')
                    });

                })

                $('.edit_area').editable(
                    function(value, settings){
                        console.log('editable',value,settings)
                    }
                    , {

                        type: 'textarea'
                        , indicator: 'Saving...'
                        , tooltip: 'click to edit'
                        , rows: 5
                        , cssclass: 'editableTask'
                });

                $('.editableTask').click( function() {
                    $('.glyphicon-ok').toggleClass('button-disabled');
                })
            }
            initializeTasks()

            $( '.teamMember' ).click( function() {
                var r = $(this).closest('.row')
                var d = $('#taskTemplate').clone().attr("id", "newTask")
                r.find('.panel-group').first().prepend(d)
                initializeTasks()
                d.show('slow')
            })
            /*
            $( ".panel-group" ).sortable({
                connectWith: ".panel-group"
            }).disableSelection();

            $('.forward-arrow').click( function() {
                var p = $(this).closest('.panel')
                var pg = p.closest('.w').next('.w')

                p.hide(150, function(){
                  pg.find('.panel-group').prepend(p)
                  p.show(150)
                });
            })

            $('.backward-arrow').click( function() {
                var p = $(this).closest('.panel')
                var pg = p.closest('.w').prev('.w')
                p.hide('fast', function(){
                  pg.find('.panel-group').prepend(p)
                  p.show('fast')
                });
            })

            $('.edit_area').editable(
            function(value, settings){
                console.log('editable',value,settings)
            }
            , {
                type: 'textarea'
                , indicator: 'Saving...'
                , tooltip: 'click to edit'
                , rows: 5
                , cssclass: 'editableTask'
            });

            $('.editableTask').click( function() {
                $('.glyphicon-ok').toggleClass('button-disabled');
            });
            */
        });

        function toggleText(el){
                alert(el)
                $(document).ready( function(){
                  $(el.id).toggleClass('fitText');
                })

                //$(e.target).toggleClass('fitText');
                //$(e.target).toggleClass('edit_area');
                //$('.edit_area').editable('/task/create')
            };


block body
    mixin taskPanel(panelGroupId, panelId, title, body, highlight)
        .panel-group(id=panelGroupId)
            .panel.panel-default
                .panel-heading(class=highlight)
                    p.panel-title.fitText
                        a(data-toggle="collapse", data-parent='#' + panelGroupId, href='#' + panelId)= title
                .panel-collapse.collapse(id=panelId)
                    .panel-body.edit_area.editableTask= body

    header(role="banner").navbar.navbar-static-top.navbar-inverse
        .container-fluid
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="../").navbar-brand.brand altitude
                nav(role="navigation").collapse.navbar-collapse.bs-navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="/home") experiement



    .container
        .imagePanner
            .imageRow
                img(src='/images/visualStudio.jpg')
                img(src='/images/visualStudio.jpg')
                img(src='/images/visualStudio.jpg')
        #taskTemplate.panel.panel-default(style="display: none;")
            .panel-heading.fitText
                .panel-title.pull-left
                    a(data-toggle="collapse", href="#") New Task
                .btn-group.btn-group-xs.pull-right
                    a(type="button").btn.backward-arrow
                        span.glyphicon.glyphicon-arrow-left
                    a(type="button").btn.forward-arrow
                        span.glyphicon.glyphicon-arrow-right
            .panel-collapse.collapse
                .panel-body.edit_area.editableTask: i (endter title here)
                .btn-toolbar.pull-right
                    .btn-group.btn-group-xs
                        a(href="https://microsoft.visualstudio.com/web/wi.aspx?pcguid=cb55739e-4afe-46a3-970f-1b49d8ee7564&id=149433", target="_blank").btn
                            span.glyphicon.glyphicon-wrench
                        a(href="mailto:cofritz@microsoft.com?subject=regarding task [BDS - banda get off Zook] Add legacy subscription offer ID  to BDS response; Investigate BDS bug #205006").btn
                            span.glyphicon.glyphicon-envelope
                    .btn-group.btn-group-xs
                        button(type="button").btn
                            span.glyphicon.glyphicon-ok.button-disabled
                        button(type="button").btn
                            span.glyphicon.glyphicon-remove.button-disabled


        h1 Marketplace Services Plan


        .row
            .col-xs-2 &nbsp;
            .col-xs-8.border.m
                h2 M1
            .col-xs-1.border.m
                h2 M2

        .row
          .col-xs-2 &nbsp;
          .col-xs-8.iteration: b i2 (June 2 - July 3)
          .col-xs-1.iteration: b i3 (July 7 - August 1)
        .row
            .col-xs-2 &nbsp;
            .col-xs-6.deliverable2.deliverable EXY on GiantSnow for Y2K video for PC
        .row
            .col-xs-4 &nbsp;
            .col-xs-6.deliverable1.deliverable [DCR] Add a elephant trunk for Fubar Games

        .row
            .col-xs-2: b Teammember
            .col-xs-2.w: b 6-Jun
            .col-xs-2.w: b 13-Jun
            .col-xs-2.w: b 20-Jun
            .col-xs-2.w: b 27-Jun
            .col-xs-1.w: b 3-Jul
        .row
            .col-xs-2.teamMember Frank Zhang (EHOME)
            .col-xs-2.w
                .panel-group.connectedSortable
                    .panel.panel-default
                        .panel-heading.fitText
                            .panel-title.pull-left
                              a(data-toggle="collapse", href="#collapseOne") In Progress
                            .btn-group.btn-group-xs.pull-right
                              a(type="button").btn.backward-arrow
                                span.glyphicon.glyphicon-arrow-left
                              a(type="button").btn.forward-arrow
                                span.glyphicon.glyphicon-arrow-right
                        #collapseOne.panel-collapse.collapse
                            .panel-body.edit_area.editableTask [BDS - banda get off Zook] Add legacy subscription offer ID  to BDS response; Investigate BDS bug #205006
                            .btn-toolbar.pull-right
                                .btn-group.btn-group-xs
                                    a(href="https://microsoft.visualstudio.com/web/wi.aspx?pcguid=cb55739e-4afe-46a3-970f-1b49d8ee7564&id=149433", target="_blank").btn
                                        span.glyphicon.glyphicon-wrench
                                    a(href="mailto:cofritz@microsoft.com?subject=regarding task [BDS - banda get off Zook] Add legacy subscription offer ID  to BDS response; Investigate BDS bug #205006").btn
                                        span.glyphicon.glyphicon-envelope
                                .btn-group.btn-group-xs
                                    button(type="button").btn
                                        span.glyphicon.glyphicon-ok.button-disabled
                                    button(type="button").btn
                                        span.glyphicon.glyphicon-remove.button-disabled
            .col-xs-2.w
                .panel-group.connectedSortable
                    .panel.panel-default
                        .panel-heading.fitText.deliverable2
                          .panel-title.pull-left
                            a(data-toggle="collapse", href="#collapseTwo") In Progress
                          .btn-group.btn-group-xs.pull-right
                            a(type="button").btn.backward-arrow
                              span.glyphicon.glyphicon-arrow-left
                            a(type="button").btn.forward-arrow
                              span.glyphicon.glyphicon-arrow-right
                        #collapseTwo.panel-collapse.collapse
                            .panel-body.edit_area.editableTask [Content Deployment] Test the query banana of sideways penguin.
                            .btn-toolbar.pull-right
                              .btn-group.btn-group-xs
                                a(href="https://microsoft.visualstudio.com/web/wi.aspx?pcguid=cb55739e-4afe-46a3-970f-1b49d8ee7564&id=149433", target="_blank").btn
                                  span.glyphicon.glyphicon-wrench
                                a(href="mailto:cofritz@microsoft.com?subject=regarding task [BDS - banda get off Zook] Add legacy subscription offer ID  to BDS response; Investigate BDS bug #205006").btn
                                  span.glyphicon.glyphicon-envelope
                              .btn-group.btn-group-xs
                                button(type="button").btn
                                  span.glyphicon.glyphicon-ok.button-disabled
                                button(type="button").btn
                                  span.glyphicon.glyphicon-remove.button-disabled

                    .panel.panel-default
                        .panel-heading
                            p.panel-title.fitText
                                a(data-toggle="collapse", data-parent="#accordion2", href="#collapseThree") Active
                        #collapseThree.panel-collapse.collapse
                            .panel-body.edit_area.editableTask Dump platypus into swamp
            .col-xs-2.w
                .panel-group
                    .panel.panel-default
                        .panel-heading
                            p.panel-title.fitText
                                a(data-toggle="collapse", data-parent="#accordion3", href="#collapseA3c1"): i Buffer
                        #collapseA3c1.panel-collapse.collapse
                            .panel-body.edit_area.editableTask: i Buffer
            .col-xs-2.w
                .panel-group
                    .panel.panel-default
                        .panel-heading
                            p.panel-title.fitText
                                a(data-toggle="collapse", data-parent="#accordion4", href="#collapseA4c1"): i Buffer
                        #collapseA4c1.panel-collapse.collapse
                            .panel-body.edit_area.editableTask: i Buffer

        .row
            .col-xs-2 Doug Olson (IEB)
            .col-xs-2.w
                +taskPanel( 'accordion5', 'collapseA5C1', 'Complete', 'XYZX % Based discount dollar store' )
            .col-xs-2.w
                +taskPanel( 'accordion6', 'collapseA6C1', 'Active', 'XYZX and XYZY feature and bug Fixes' )
            .col-xs-2.w
                +taskPanel( 'accordion7', 'collapseA7C1', 'Vacation', 'Vacation' )
            .col-xs-2.w
                +taskPanel( 'accordion8', 'collapseA8C1', 'Active', '[BDS on GiantSnow] Shadow-mode cut-over', 'deliverable2' )
            .col-xs-1.w
                +taskPanel( 'accordion9', 'collapseA9C1', 'Active', '[BDS on GiantSnow] Stabilization Buffer', 'deliverable2' )
        .row
            .col-xs-2 Dennis Russell
            .col-xs-2.w &nbsp;

            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
        .row
            .col-xs-2 Reid Miller
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
        .row
            .col-xs-2 Cyrus Jamula
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;







