extends ../layout



block styles
    // Default home page

    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/styles/app.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.9.0.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jeditable.js/1.7.3/jeditable.min.js')
    script(src='/js/bootstrap.min.js')
    script(type='text/javascript').
        document.onkeydown = function(event) {
            var key_press = String.fromCharCode(event.keyCode);
            var key_code = event.keyCode;
            document.getElementById('kp').innerHTML = key_press;
            document.getElementById('kc').innerHTML = key_code;
            var status = document.getElementById('status');
            status.innerHTML = "DOWN Event Fired For : "+key_press;
        }
        document.onkeyup = function(event){
            var key_press = String.fromCharCode(event.keyCode);
            var status = document.getElementById('status');
            status.innerHTML = "UP Event Fired For : "+key_press;
        }

        function moveDiv(divToMove, targetDiv) {
            var div1 = document.getElementById(divToMove);
            var div2 = document.getElementById(targetDiv);
            div2.appendChild(div1);
        }

        $(document).ready( function(){
            $('.edit_area').editable(
            function(value, settings){
                console.log('editable',value,settings)
            }
            , {
                type: 'textarea'
                , indicator: 'Saving...'
                , tooltip: 'click to edit'
                , rows: 5
                , cssclass: 'editableTask'
            });
            $('.editableTask').click( function() {
              $('.glyphicon-ok').toggleClass('button-disabled');
            });
        });

        function toggleText(el){
            alert(el)
            $(document).ready( function(){
              $(el.id).toggleClass('fitText');
            })

            //$(e.target).toggleClass('fitText');
            //$(e.target).toggleClass('edit_area');
            //$('.edit_area').editable('/task/create')
        };


block body
    mixin taskPanel(panelGroupId, panelId, title, body, highlight)
        .panel-group(id=panelGroupId)
            .panel.panel-default
                .panel-heading(class=highlight)
                    p.panel-title.fitText
                        a(data-toggle="collapse", data-parent='#' + panelGroupId, href='#' + panelId)= title
                .panel-collapse.collapse(id=panelId)
                    .panel-body.edit_area.editableTask= body

    header(role="banner").navbar.navbar-static-top.navbar-inverse
        .container-fluid
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="../../").navbar-brand.brand altitude
                nav(role="navigation").collapse.navbar-collapse.bs-navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="#") this week
                        li.active
                            a(href="#") last month
                        li.active
                            a(href="#") next month
                        li.active
                            a(href="#") m1
                        li.active
                            a(href="#") m2
                        li.active
                            a(href="#") m3

    //- we will render each part of the grid row by row
    //- first milestones, then iterations, then weeks, then deliverables, then each teammember
    -var milestoneIndex = milestoneOffset
    -var milestoneWeekNum = 0
    -var TOTAL_COLUMNS = 12
    -var NUM_COLUMNS_NOT_USED = 1
    -var NUM_TEAMMEMBER_COLUMNS = 2
    -var MAX_COLUMNS_FOR_MILESTONES = TOTAL_COLUMNS - (NUM_COLUMNS_NOT_USED + NUM_TEAMMEMBER_COLUMNS)
    -var NUM_COLUMNS_PER_WEEK = 2
    -var numColumnsRemaining = MAX_COLUMNS_FOR_MILESTONES
    -var numColumnsToDisplay = 0
    -var NUM_MILESTONES = schedule.milestones.length


    .container
        .row
            .col-xs-11
                h1 Marketplace Services Plan
        .row

            .col-xs-2
                .pull-right
                    span.glyphicon.glyphicon-chevron-left.timeControl
                    span.glyphicon.glyphicon-chevron-right.timeControl
            while (numColumnsRemaining > 0) && (milestoneIndex < NUM_MILESTONES)
                //-get current milestone
                -var m = schedule.milestones[milestoneIndex]
                -milestoneIndex++

                //- get number of columns for this milestone
                -var numColumnsForThisMilestone = m.numWeeks * NUM_COLUMNS_PER_WEEK
                -numColumnsToDisplay = (numColumnsForThisMilestone <= numColumnsRemaining) ? numColumnsForThisMilestone : numColumnsRemaining
                div(class='col-xs-' + numColumnsToDisplay + ' border m'): h4= m.name
                -numColumnsRemaining -= numColumnsToDisplay


        .row

            .col-xs-2
                .pull-right
                    span.glyphicon.glyphicon-chevron-left.timeControl
                    span.glyphicon.glyphicon-chevron-right.timeControl

            //- reset variables that control loop
            -numColumnsRemaining = MAX_COLUMNS_FOR_MILESTONES
            -milestoneIndex = 0



            while (numColumnsRemaining > 0) && (milestoneIndex < NUM_MILESTONES)
                //- get current milestone
                -var m = schedule.milestones[milestoneIndex]
                -milestoneIndex++

                -var iterationIndex = 0
                -var numIterations = m.iterations.length
                while (numColumnsRemaining > 0) && (iterationIndex < numIterations)
                    //- get current iteration
                    -var i = m.iterations[iterationIndex]
                    -iterationIndex++

                    //get number of columns for this iteration
                    -var numColumnsForThisIteration = i.numWeeks * NUM_COLUMNS_PER_WEEK
                    -numColumnsToDisplay = (numColumnsForThisIteration <= numColumnsRemaining) ? numColumnsForThisIteration : numColumnsRemaining
                    -var startDate = new Date(i.begin)
                    -var endDate = new Date(i.end)
                    -var iterationPeriod = startDate.getMonth() + '/' + startDate.getDay() + '-' + endDate.getMonth() + '/' + endDate.getDay()
                    div(class='col-xs-' + numColumnsToDisplay + ' iteration')
                        b= i.name
                            |  (#{iterationPeriod})
                    -numColumnsRemaining -= numColumnsToDisplay

        .row
            .col-xs-2
                .pull-right
                    span.glyphicon.glyphicon-chevron-left.timeControl
                    span.glyphicon.glyphicon-chevron-right.timeControl

            //- reset variables that control loop
            -numColumnsRemaining = MAX_COLUMNS_FOR_MILESTONES
            -milestoneIndex = 0
            
            while (numColumnsRemaining > 0) && (milestoneIndex < NUM_MILESTONES)
                //- get current milestone
                -var m = schedule.milestones[milestoneIndex]
                -milestoneIndex++
                -var iterationIndex = 0
                -var numIterations = m.iterations.length
                while (numColumnsRemaining > 0) && (iterationIndex < numIterations)
                    //- get current iteration
                    -var i = m.iterations[iterationIndex]
                    -iterationIndex++
                    //get number of columns for this iteration
                    -var numColumnsForThisIteration = i.numWeeks * NUM_COLUMNS_PER_WEEK
                    -numColumnsToDisplay = (numColumnsForThisIteration <= numColumnsRemaining) ? numColumnsForThisIteration : numColumnsRemaining
                    -var startDate = new Date(i.begin)
                    -var endDate = new Date(i.end)
                    -var iterationPeriod = startDate.getMonth() + '/' + startDate.getDay() + '-' + endDate.getMonth() + '/' + endDate.getDay()
                    div(class='col-xs-' + numColumnsToDisplay + ' iteration')
                        b= i.name
                            | (#{iterationPeriod})
                    -numColumnsRemaining -= numColumnsToDisplay



//-
        .row
            .col-xs-2 &nbsp;
            .col-xs-6.deliverable2.deliverable EXY on GiantSnow for Y2K video for PC
        .row
            .col-xs-4 &nbsp;
            .col-xs-6.deliverable1.deliverable [DCR] Add a elephant trunk for Fubar Games

        .row
            .col-xs-2: b Teammember
            .col-xs-2.w: b 6-Jun
            .col-xs-2.w: b 13-Jun
            .col-xs-2.w: b 20-Jun
            .col-xs-2.w: b 27-Jun
            .col-xs-1.w: b 3-Jul
        .row
            .col-xs-2 Frank Zhang (EHOME)
            .col-xs-2.w
                #accordion1.panel-group
                    #panel1.panel.panel-default
                        .panel-heading
                            p.panel-title.fitText
                                a(data-toggle="collapse", data-parent="#accordion1", href="#collapseOne") Active
                        #collapseOne.panel-collapse.collapse
                            .panel-body.edit_area.editableTask [BDS - banda get off Zook] Add legacy subscription offer ID  to BDS response; Investigate BDS bug #205006
                            // img(src="/images/visualStudio.jpg", alt="Open TFS").taskOptionButton
                            .btn-toolbar.centered
                                .btn-group.btn-group-xs
                                    button(type="button", onclick='moveDiv("panel1", "accordion1");').btn
                                        span.glyphicon.glyphicon-arrow-left
                                    button(type="button", onclick='moveDiv("panel1", "accordion2");').btn
                                        span.glyphicon.glyphicon-arrow-right
                                .btn-group.btn-group-xs
                                    a(href="https://microsoft.visualstudio.com/web/wi.aspx?pcguid=cb55739e-4afe-46a3-970f-1b49d8ee7564&id=149433", target="_blank").btn
                                        span.glyphicon.glyphicon-wrench
                                    a(href="mailto:cofritz@microsoft.com?subject=regarding task [BDS - banda get off Zook] Add legacy subscription offer ID  to BDS response; Investigate BDS bug #205006").btn
                                        span.glyphicon.glyphicon-envelope
                                .btn-group.btn-group-xs
                                    button(type="button").btn
                                        span.glyphicon.glyphicon-ok.button-disabled
                                    button(type="button").btn
                                        span.glyphicon.glyphicon-remove.button-disabled
            .col-xs-2.w
                #accordion2.panel-group
                    .panel.panel-default
                        .panel-heading.deliverable2
                            p.panel-title.fitText
                                a(data-toggle="collapse", data-parent="#accordion2", href="#collapseTwo") Committed
                        #collapseTwo.panel-collapse.collapse
                            .panel-body.edit_area.editableTask [Content Deployment] Test the query banana of sideways penguin.
                    .panel.panel-default
                        .panel-heading
                            p.panel-title.fitText
                                a(data-toggle="collapse", data-parent="#accordion2", href="#collapseThree") Proposed
                        #collapseThree.panel-collapse.collapse
                            .panel-body.edit_area.editableTask Dump platypus into swamp
            .col-xs-2.w
                #accordion3.panel-group
                    .panel.panel-default
                        .panel-heading
                            p.panel-title.fitText
                                a(data-toggle="collapse", data-parent="#accordion3", href="#collapseA3c1"): i Buffer
                        #collapseA3c1.panel-collapse.collapse
                            .panel-body.edit_area.editableTask: i Buffer
            .col-xs-2.w
                #accordion4.panel-group
                    .panel.panel-default
                        .panel-heading
                            p.panel-title.fitText
                                a(data-toggle="collapse", data-parent="#accordion4", href="#collapseA4c1"): i Buffer
                        #collapseA4c1.panel-collapse.collapse
                            .panel-body.edit_area.editableTask: i Buffer

        .row
            .col-xs-2 Doug Olson (IEB)
            .col-xs-2.w
                +taskPanel( 'accordion5', 'collapseA5C1', 'Complete', 'XYZX % Based discount dollar store' )
            .col-xs-2.w
                +taskPanel( 'accordion6', 'collapseA6C1', 'Committed', 'XYZX and XYZY feature and bug Fixes' )
            .col-xs-2.w
                +taskPanel( 'accordion7', 'collapseA7C1', 'Vacation', 'Vacation' )
            .col-xs-2.w
                +taskPanel( 'accordion8', 'collapseA8C1', 'Committed', '[BDS on GiantSnow] Shadow-mode cut-over', 'deliverable2' )
            .col-xs-1.w
                +taskPanel( 'accordion9', 'collapseA9C1', 'Committed', '[BDS on GiantSnow] Stabilization Buffer', 'deliverable2' )
        .row
            .col-xs-2 Dennis Russell
            .col-xs-2.w &nbsp;

            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
        .row
            .col-xs-2 Reid Miller
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
        .row
            .col-xs-2 Cyrus Jamula
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;
            .col-xs-2.w &nbsp;







